
<!doctype html>
<html>
    <nav>
        <a href='blog'>Main Blog Page</a>
        <a href='newpost'>Add a New Blog Entry</a>
    </nav>

    <head>
        <style>
            .error{
                color: red;
            }
            h1 {
                text-align:center;
                font-size: 40px;
            }
            nav>a {
                background-color: rgb(252, 252, 98);
                text-align: center; 
                text-decoration: none;
            }
        </style>
        <title>{{title}}</title>
    </head>
    <body>
        <div>
            <a href='/logout'>log out</a>
        </div>
            {% with messages = get_flashed_messages(with_categories=True) %}
                <ul>
                    {% for category.message in messages %}
                        <li class={{category}}>{{messages}}</li>
                    {% endfor %}    
                </ul>
            {% endwith %}   
        
        
        {% block content %}
        {% endblock %}
    </body>
</html>
