
<!doctype html>
<html>
    <nav>
        <a href='/'>Home</a>
        <a href='/blog'>All Posts</a>
        <a href='/newpost'>Add a New Blog Entry</a>
    </nav>

    <head>
        <style>
            .error{
                color: red;
            }
            h1 {
                text-align:center;
                font-size: 40px;
            }
            nav>a {
                text-align: center;
            }
        </style>
        <title>{{title}}</title>
    </head>
    <body>
        <div>
            <a href='/login'>Login</a>
            <a href='/logout'>Logout</a>
        </div>
            {% with messages = get_flashed_messages(with_categories=True) %}
                <ul>
                    {% for category,message in messages %}
                        <li class="{{category}}">{{message}}</li>
                    {% endfor %}    
                </ul>
            {% endwith %}   
        
        
        {% block content %}
        {% endblock %}
    </body>
</html>
