{% extends "base.html" %}

{% block content %} 

    <h1>Blog Posts!</h1>
    
    {% if blogs|length == 0 %}
    <p>No blogs to display</p>
    {% else %}

    <hr/>
        <ul>
            {% for blog in blogs %}
            <li>
            <h3><a href= '/singleblog?id={{blog.id}}'>{{blog.title}}</a></h3>
            {{blog.body}}
            <h4><a href= '/singleuser?id={{blog.owner.id}}'><i>written by  </i>{{blog.owner.username}}</a></h4>
            <hr />
            </li>
            {% endfor %}
        </ul>
        
    {% endif %}        

{% endblock %}
